<div class="well">
  <%= f.inputs "Contacts" do %>
    <%= f.input :department, :label => "Writing team", :input_html => { :disabled => f.object.persisted?, :class => "span10"} %>
    <%= f.input :fact_checkers, :input_html => { :disabled => f.object.persisted?, :class => "span10"} %>
  <% end %>
</div>
