<div class="well">
  <%= f.inputs "User need", :id => "user-need" do %>
    <%= f.input :need_ids,
                label: raw('Need IDs <span class="non-js-hint">(add a comma-separated list of related need ids)</span>'),
                input_html: { class: "js-artefact-need-ids",
                              value: f.object.need_ids.present? ? f.object.need_ids.reject(&:blank?).join(",") : nil,
                              data: { 'maslow-needs-url' => Plek.current.find('maslow') + "/needs/",
                                      'needotron-needs-url' => Plek.current.find('needotron') + "/needs/" }} %>
  <% end %>
</div>
