<div class="well owning-app">
  <p>This content is managed in <strong><%= artefact.owning_app.humanize %></strong>.</p>

  <% if artefact.owning_app == OwningApp::PUBLISHER %>
    <%= link_to "Edit in Publisher", admin_url_for_edition(artefact), :class => "btn btn-default" %>
  <% end %>
</div>
