<div class="well">
  <%= f.inputs "Related content" do %>
    <%= render "artefacts/form/related_artefacts", f: f, artefact: artefact %>
    <%= render "artefacts/form/related_external_links", f: f, artefact: artefact %>
  <% end %>
</div>
