<div class="well">
  <%= f.inputs "Related content" do %>
    <%= render "artefacts/form/related_artefacts", f: f, artefact: artefact %>

    <% if artefact.owning_app.in?(%w[publisher smartanswers]) %>
        <label class="section-label">Related external links</label><br /> This functionality has been moved to <strong>Publisher</strong>.
    <% end %>
  <% end %>
</div>
