development:
  clients:
    default:
      hosts:
        - localhost
      database: govuk_content_development
  options:
    use_activesupport_time_zone: true

test:
  clients:
    default:
      hosts:
        - localhost
      # Don't want this interfering with a concurrent Publisher test run
      database: govuk_content_panopticon_test
      options:
        read:
          mode: :primary
        max_pool_size: 1
  options:
    use_activesupport_time_zone: true

# set these environment variables on your prod server
production:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] %>
  options:
    use_activesupport_time_zone: true

