<div class="row-fluid sortable <%= is_template ? "hidden curated-artefact-template" : "curated-artefact" %>">
  <i class="icon-align-justify"></i>

  <%= select_tag "curated_list[artefact_ids][]",
                 options_from_collection_for_select(artefacts_in_section, :id, :name, artefact_id),
                 { prompt: "Select an artefact" }
                 %>

  <button class="btn btn-danger remove-curated-artefact remove-row" type="button">Remove curated item</button>
</div>
