<%= content_for :page_title, "Import for Curated List" %>
<div class="page-header">
  <h1>Import Curated lists</h1>
</div>
<div class="row-fluid">
<% if flash[:success].present? %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:error].present? %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

  <div class="well" id="new-data">
    <h2>Load New Data</h2>
    <form accept-charset="UTF-8" action="/curated_list/create" enctype="multipart/form-data" id="new_data_set" method="post" novalidate="novalidate">
      <label for="curated_list_data_file">CSV of curated lists</label>
      <input id="curated_list_data_file" name="data_file" type="file">
      <input class="btn btn-primary" name="commit" type="submit" value="Upload CSV">
    </form>
  </div>

</div>
