/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require chosen
 *= require formtastic-bootstrap
 */

/* Styling for tablesorter plugin */
table thead tr th {
  cursor: pointer;
}

table thead tr th.header {
  padding-right: 20px;
  background: url(bg.gif) no-repeat right 75%;
}

table thead tr .header.headerSortUp {
  background: url(asc.gif) no-repeat right 75%;
}

table thead tr .header.headerSortDown {
  background: url(desc.gif) no-repeat right 75%;
}

table#artefact-list tr.archived {
  opacity: 0.5;
}


tr.top-level-section {
  font-weight: bold;
}

/* end of tablesorter styling */

.related-artefact-group, .curated-artefact-group {
  margin-bottom: 10px;
}

.related-artefact, .curated-artefact {
  border: 1px solid #e5e5e5;
  padding: 8px;
  cursor: move;
  margin-bottom: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* For some reason it's getting a margin-left of 30px */
.select2-container {
  margin-left: 0;
}

.relatedness-force-clear {
  clear: both;
}

.language_icon  {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
}

/*
  Right now - only mark welsh content so that it can be better distinguished in the artefact list.
  In future, we could show the language for all artefacts.
*/
.language_icon.lang_cy {
  width: 16px;
  height: 16px;
  background: url(language_cy.png) no-repeat center center;
}
