/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require chosen
 *= require formtastic-bootstrap
 */

/* Styling for tablesorter plugin */
table thead tr th {
  cursor: pointer;
}

table thead tr th.header {
  padding-right: 20px;
  background: url(bg.gif) no-repeat right 75%;
}

table thead tr .header.headerSortUp {
  background: url(asc.gif) no-repeat right 75%;
}

table thead tr .header.headerSortDown {
  background: url(desc.gif) no-repeat right 75%;
}

table#artefact-list tr.archived {
  opacity: 0.5;
}

/* end of tablesorter styling */