@import 'govuk_admin_template';
@import 'formtastic-bootstrap';
@import 'chosen';
@import 'bootstrap-chosen';
@import 'select2';

@import "artefacts";
@import "artefacts/form";
@import "tags";

@import "vendor/tagsmanager";

/* For some reason it's getting a margin-left of 30px */
.select2-container {
  margin-left: 0;
}

.language_icon  {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
}

/*
  Right now - only mark welsh content so that it can be better distinguished in the artefact list.
  In future, we could show the language for all artefacts.
*/
.language_icon.lang_cy {
  width: 16px;
  height: 16px;
  background: url(language_cy.png) no-repeat center center;
}

th .asc {
  background-image: url(/assets/asc.gif);
  background-color: #eee;
}

th .desc {
  background-image: url(/assets/desc.gif);
  background-color: #eee;
}

th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

tr.top-level-section {
  font-weight: bold;
}

#current td {
  background-color: #adf;
}
