/*
  # app/assets/stylesheets/application.css
  *= require formtastic-bootstrap
*/

body {
  padding-top: 40px;
  padding-bottom: 60px;
}

.navbar .brand {
  background-image: url("/assets/header-crown.png");
  background-position: 0 0.25em;
  background-repeat: no-repeat;
  font-family: "GillSans", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0;
  padding-left: 2em;
}

td.icon {
  text-align: center;
}

/* Styling for tablesorter plugin */
table thead tr th {
  cursor: pointer;
}

table thead tr th.header {
  padding-right: 20px;
  background: url(bg.gif) no-repeat right 75%;
}

table thead tr .header.headerSortUp {
  background: url(asc.gif) no-repeat right 75%;
}

table thead tr .header.headerSortDown {
  background: url(desc.gif) no-repeat right 75%;
}

/* end of tablesorter styling */