#user-need h3 {
  margin-bottom: 10px;
}

p.need-id {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

span.need-id.label {
  line-height: 12px;
}

.need-body {
  font-size: 16px;
  line-height: 1.31579;
}

.artefact-count {
  border-bottom: 1px solid #e5e5e5;
  font-size: 19px;
  font-weight: normal;
  line-height: 1.25;
  padding-bottom: 10px;
}

.user-needs-form {
  label {
    display: block;
  }

  .need-id-input {
    padding: 4px;
    height: 29px;
  }

  .need-id-input,
  .tm-tag {
    margin: 0 5px 5px 0;
  }

  .tm-tag span {
    cursor: pointer;
  }

  .btn {
    margin-bottom: 6px;
  }
}
