<div id="archive" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-archive-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-archive-label">Archive this artefact</h3>
  </div>
  <div class="modal-body">
    <h4>Careful!</h4>
    <p>This will remove <em><%= @artefact.name %></em> from the website.</p>
    <p>Once you've unpublished you can't change your mind.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <%= button_to 'Archive',
                  artefact_path(@artefact),
                  :method => "delete",
                  :class => "btn btn-danger" %>
  </div>
</div>
