<div class="row-fluid artefact-section">
  <%= select_tag("artefact[sections][]", options_from_collection_for_select(tag_collection, :tag_id, :unique_title, section_id), {:prompt => "Select a section", :class => "span4"}) %>
  <button class="btn btn-danger remove-section offset1">Remove this section</button>
</div>
