<div class="well">
  <dl class="dl-horizontal">
  <% artefact.actions.each do |action| %>
    <dt><%= human_timestamp(action.created_at) %></dt>
    <dd>
      <%= action.user || "An unknown user" %>
      <% case action.action_type %>
      <% when "create" %>
        created this artefact
      <% when "update" %>
        updated this artefact
      <% else %>
        did a "<%= action.action_type %>" action
      <% end %>
    </dd>
  <% end %>
  </dl>
</div>
