<div class="row nested-item sortable <%= is_template ? "hidden related-artefact-template" : "related-artefact" %>">
  <i class="icon-align-justify"></i>

  <%= select_tag "artefact[related_artefact_ids][]",
                 options_from_collection_for_select(relatable_items, :id, :name, related_artefact_id),
                 { prompt: "Select a related item" } %>

  <button class="remove-row remove-related" type="button">Remove related item</button>
</div>
