<div class="callout callout-success">
  <div class="callout-title">
    Improved tagging
  </div>
  <div class="callout-body">
    Tagging and related links for this item
    <%= link_to "has moved", Plek.find('content-tagger') + "/content/#{artefact.content_id}" %>.
  </div>
</div>
</br>
