<div class="callout callout-success">
  <div class="callout-title">
    Improved tagging
  </div>
  <div class="callout-body">
    Tagging, user needs and related links for this item
    <%= link_to "have moved to Content Tagger", Plek.find('content-tagger') + "/content/#{artefact.content_id}" %>.
  </div>
</div>
</br>
