
<div class="row">
  <div class="col-md-8">
    <%= render partial: "artefacts/use_content_tagger", locals: { artefact: artefact } %>
  </div>

  <div class="col-md-4">
    <%= render partial: "artefacts/form/owning_app", locals: { artefact: artefact } %>
  </div>
</div>
