<%= content_for :page_title, "Archive - #{@artefact.name}" %>
<%= render partial: "artefact_header" %>

<div class="well">
  <h3>Careful!</h3>
  <p>This will remove <em><%= @artefact.name %></em> from the website.</p>
  <p>Once you've unpublished you can't change your mind.</p>

  <%= button_to 'Archive',
                artefact_path(@artefact),
                :method => "delete",
                :class => "btn btn-danger" %>
</div>
