<%= content_for :page_title, "Editing artefact #{@artefact.name}" %>
<div class="page-header">
  <h1>Editing <%= @artefact.name %></h1>
</div>
<%= render 'form', artefact: @artefact, tag_collection: @tag_collection %>
