<%= content_for :page_title, "New #{@artefact.owning_app.nil? ? "" : @artefact.owning_app.capitalize} artefact" %>
<div class="page-header">
  <h1><%= yield :page_title %></h1>
</div>

<%= render 'form', artefact: @artefact, tag_collection: @tag_collection %>
