<%= content_for :page_title, "New artefact" %>
<div class="page-header">
  <h1>Creating new artefact</h1>
</div>
<% if "whitehall" == @artefact.owning_app %>
  <%= render 'whitehall_form', artefact: @artefact, tag_collection: @tag_collection %>
<% else %>
  <%= render 'form', artefact: @artefact, tag_collection: @tag_collection %>
<% end %>
