<%= content_for :page_title, "Withdraw - #{@artefact.name}" %>
<%= render partial: "artefact_header" %>

<div class="callout callout-success">
  <div class="callout-title">
    Withdraw
  </div>
  <div class="callout-body">
    Withdrawing content
    <%= link_to "has moved", @publisher_edition_url %>.
  </div>
</div>
