<!DOCTYPE html>
<html>
<head>
  <title>Panopticon</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name="x-section-name" content="Panopticon" />
  <meta name="x-section-link" content="panopticon" />
  <%= csrf_meta_tags %>

  <link href="http://demo.alphagov.co.uk/stylesheets/admin/jquery-ui-1.8.14.css" rel="stylesheet" type="text/css">
  <link href="http://demo.alphagov.co.uk/stylesheets/normalize.css" rel="stylesheet" type="text/css">
  <link href="http://demo.alphagov.co.uk/stylesheets/core.css" rel="stylesheet" type="text/css">
  <link href="http://demo.alphagov.co.uk/stylesheets/formtastic.css" rel="stylesheet" type="text/css">
  <link href="http://demo.alphagov.co.uk/stylesheets/formtastic-changes.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div id="wrapper" class="panopticon">
    <%= yield %>
  </div>
</body>
</html>
